*{
margin: 0%;
}
.navimg{
margin-right: 370px;
}
.cards{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: 90px;
    margin-right: 90px;
}
.footimg{
    display: flex;
    width: 50%;
    margin: 100px 50px 50px 50px;
}